@model OnlineMark.Models.Course

@{
    ViewBag.Title = "ChangeCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert">
    <h2 class="modal-header">Редагування курсу @Model.Name</h2>
</div>

@using (Html.BeginForm("ChangeCourse", "Course", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
 
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id);
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aim, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Aim, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Aim, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProgramOfCourse, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ProgramOfCourse, new {  @class = "form-control"  })
                @Html.ValidationMessageFor(model => model.ProgramOfCourse, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Themes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Themes, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Themes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Зберегти зміни" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Переглянути курси", "ShowCourses")
</div>
